{{ define "content"}}
<div class="res-cons">
    {{ if eq .Data.Singular "category" }}
    <h3 class="archive-title">{{ i18n "Taxonomy_category_header" .Data.Term | safeHTML }}</h3>
    {{ else if eq .Data.Singular "tag" }}
    <h3 class="archive-title">{{ i18n "Taxonomy_tag_header" .Data.Term | safeHTML }}</h3>
    {{ end }}

    {{ range $index,$data := .Paginator.Pages }}
    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="{{ .Permalink }}" >{{ .Title }}</a>
            </h1>
        </header>
        {{ partial "post-meta.html" . }}
        <div class="post-content">
            {{ .Summary }}……
            <p class="readmore"><a href="{{ .Permalink }}" >{{ i18n "continueReading" }}</a></p>
        </div>
    </article>
    {{ end }}

    {{ partial "paginator" . }}
</div>
{{ end }}