<div id="secondary">
    <section class="widget">
        {{ partial "search_form" . }}
    </section>

    <section class="widget">
        {{ partialCached "recent_post" . .Site.Language.Lang }}
    </section>

    {{ partial "ads" . }}

    <section class="widget">
        {{ partialCached "categories" . .Site.Language.Lang }}
    </section>

    <section class="widget">
        {{ partialCached "tags" . .Site.Language.Lang }}
    </section>

    {{ partial "links" . }}

    <section class="widget">
        <h3 class="widget-title">{{ i18n "meta" }}</h3>
        <ul class="widget-list">
            <li><a href="{{ "index.xml" | absURL }}">{{ i18n "Feed_rss" }}</a></li>
        </ul>
    </section>
</div>
